* {
  padding: 0;
  margin: 0;
}
body {
  background-color: beige;
}
.menu {
  text-align: center;

  width: 100%;
  background-color: rgb(81, 130, 194);
}
.menu li {
  font-size: 15px;
  display: inline-block;
  background-color: rgb(81, 130, 194);
  margin: -2px;
  padding: 12px;
  margin-bottom: 2px;
  border-right: 1px solid white;
  padding-left: 35px;
  padding-right: 35px;
}
.first-item {
  border-left: 1px solid white;
}
li a {
  text-decoration: none;
  color: aliceblue;
}
.dropdown {
  position: absolute;
  top: 100%;

  visibility: none;
  opacity: 0;
  transform: scaley(0);
  transform-origin: top center;
}

.Budget {
  position: relative;
}
.dropdown-links {
  display: block;
  width: 65%;
  border-bottom: 1px solid white;
  border-top: 1px solid white;
}
.Budget:hover .dropdown {
  position: absolute;
  top: 100%;
  left: 0%;
  padding: 4px 10px;
  visibility: visible;
  opacity: 1;
  transition: 0.5s;
  transform: scaley(1);
  transform-origin: top center;
}
li:hover {
  background-color: #d34b4b;
  transition: 0.4s;
}
.social {
  margin-top: 480px;
  background-color: beige;
  text-align: center;
}
.social li {
  background-color: beige;
  display: inline-block;
  background-color: rgb(132, 96, 165);
  color: #fff;
  font-size: 40px;
  height: 80px;
  width: 80px;
  line-height: 80px;
  border-radius: 40px;
  margin: 0 10px;
}
